/* Загальні стилі для всього проекту */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;  /* Світло-сірий фон */
  color: #333;  /* Темний текст */
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #2D2ACD;  /* Колір для заголовків */
}

